{% extends 'base.html.twig' %}

{% block body %}

{% block title %}About Me{% endblock %}

<div id="layoutSidenav_content">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Kazavatov Adam</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Développeur Junior</h6>
                   
                </div>
            </div>
            <!-- Carte de description -->
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Mon parcours
                </div>
                <div class="card-body">
                    <p class="card-text">Bonjour à tous ! Fraîchement diplômé, je me lance dans le monde du développement en tant que développeur junior.</p>
                    <p class="card-text">
                        Malgré ma jeune expérience, ma détermination et ma soif d'apprendre compensent largement. Ma récente validation d'un titre professionnel après 8 mois de formation intensive m'a offert un solide socle sur les fondamentaux du code. Chaque jour est pour moi une nouvelle opportunité d'apprendre et de m'améliorer.
                    </p>
                    <p class="card-text">
                        Mon insatiable curiosité et ma ténacité face aux défis. Quand je me fixe un objectif ou qu'on me confie une mission, je plonge tête la première, cherchant toutes les ressources et informations nécessaires pour le mener à bien. Les obstacles ne me font pas peur ; ils me stimulent et renforcent ma résolution à progresser.
                    </p>
                    <p class="card-text">
                        Ma polyvalence, acquise grâce à des expériences professionnelles dans divers secteurs, est un atout que j'espère mettre à profit dans mes futures missions de développement. Ces expériences, couplées à mes aventures personnelles, m'ont enseigné la valeur de la persévérance et de l'adaptabilité.
                    </p>
                    <p class="card-text">
                        En résumé, si vous cherchez un développeur junior enthousiaste, déterminé et prêt à s'investir pleinement dans chaque projet, ne cherchez pas plus loin ! Je suis prêt à embarquer avec vous dans de nouveaux défis et à mettre tout en œuvre pour les réussir.
                    </p>
                </div>
            </div>
            <!-- Si vous avez d'autres informations à ajouter, comme votre expérience, formation, etc., vous pouvez ajouter d'autres éléments card ou sections ici. -->
        </div>
    </div>
</div>
</div>

{% endblock %}
